

h1= link_to 'Игра № 1 «Выключатель»', switcher_path

h2 Что такое «всратые игры»
p Встарые игры не отличаются изобретательностью. Они придуманы как забавная затея и не требуют к себе никакого внимания. В них можно играть, а можно пожать плечами, мол, что за ерунда и пройти мимо. А можно посмотреть на них как на невероятно прекрасное выражение мысли. Ну, вы всё поняли. Давайте поиграем!

  
/ = link_to 'Privacy policy', privacy_path
/ = link_to 'Terms of Service', terms_path