= current_player.email if player_signed_in?
h1 Stupid games
p For play you need to sign in
= button_to "Sign in with Google", player_google_oauth2_omniauth_authorize_path, data: { turbo: false }

  
= link_to 'Privacy policy', privacy_path
= link_to 'Terms of Service', terms_path